.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container1 {
    width: 300px;
    height: 300px;
    margin: 0%;
    border-radius: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(purple, violet, red, orange);
    box-shadow: 0 0 10px black;
}

.container1 > .block1 {
    border: 15px solid white;
    width: 150px;
    height: 130px;
    margin: 0%;
    border-radius: 30px;
    border: 15px solid white;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.container1 .block2 {
    border: 10px solid white;
    width: 60px;
    height: 60px;

    border-radius: 50%;
}

.container1 .block2::before {
    content: "";
    width: 8px;
    height: 8px;
    border: 5px solid white;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    left: 100px;
}
